Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

<p>Level of Interest: <%= @job.level_of_interest %></p>


City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, job_path(@job) %>

<%= link_to "Edit", edit_job_path(@job) %>
