<h1> <%= "#{@category.title}" %> Jobs</h1>
<%= link_to 'Add New Job', new_job_path %>

<% @category.jobs.each do |job| %>
  <%= link_to job.title, job_path(job) %>
  <%= link_to job.company.name, company_path(job.company) %>
  <%= job.level_of_interest %>
  <%= link_to "Edit", edit_job_path(job) %>
  <%= link_to 'Delete', job_path(job), method: :delete, data: {confirm: 'Really delete job?'} %>
<% end %>
